<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTRlgPbPN3MNyp20DB6Vny68zGUvnwCGE</string>
	<key>GCM_SENDER_ID</key>
	<string>1014714616094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Dan-Hozan.Instagram2-0</string>
	<key>PROJECT_ID</key>
	<string>instagram2-0-82030</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram2-0-82030.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014714616094:ios:924919f1fccc313ea1a10f</string>
</dict>
</plist>